<receiver
    android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher"
    android:exported="false" />
<receiver
    android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"
    android:enabled="true"
    android:exported="false">
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
    </intent-filter>
</receiver>
